django
gunicorn
django-heroku
astroid
certifi
chardet
colorama
cycler
dj-database-url
dj-static
django-js-asset
docutils
idna
isort
kiwisolver
lazy-object-proxy
matplotlib
mccabe
numpy
Pillow
pip
psycopg2
pylint
pyparsing
python-dateutil
python-http-client
pytz
requests
sendgrid
setuptools
six
static3
statistics
stripe
urllib3
virtualenv
wheel
whitenoise
wrapt