{% extends 'products/base.html' %}
{% block activepersona %} class="active"{% endblock %}
{% block content %}


<div class="panel-header panel-header-sm">
</div>



<div class="content">
  <div class="row">
    <div class="col-md-12">
         {% for pe in Persona %}
        <div class="card" style="width: 18rem;">
            <center>
                <img src="{{pe.Picmage.url}}" alt="Smiley face" width=100%>
                <p></p>
                <h2>{{pe.PersonaName}}</h2>
            </center>
            <div style="padding:2%">
                <p class="font-weight-bold">Summary</p>
                <p>{{pe.PersonaDescription}}</p>
            </div>
        </div>
        {% endfor %}

  </div>
</div>
    <a href="{% url 'pcreate' %}">Create Persona</a>
</div>

{% endblock %}